<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @meeting.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @meeting.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @meeting.longitude %>
</p>


<p>
  <strong>Friends:</strong>
  <% if @meeting.users.empty? %>
  <%= "No friend in the meeting" %>
  <%else%>
  <% @meeting.users.each do |ami| %>
  <% @a = "#{@a}" + ami.first_name + " " + ami.last_name + ", " %>
  <% end %>
  <%= @a.chomp(", ") %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<img>
  <%= image_tag @meeting.map_url, class: 'img-fluid img-rounded', alt: "#{@meeting.name} on the map"%>

</img>
<p><%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
</p>
