<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @meeting.nom %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @meeting.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @meeting.longitude %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @meeting.participants %>
</p>
<p>
  <strong>Friends:</strong>
  <% if @meeting.users.empty? %>
  <%= "No friend in the meeting" %>
  <%else%>
  <% @meeting.users.each do |ami| %>
  <% @a = "#{@a}" + ami.first_name + " " + ami.last_name + ", " %>
  <% end %>
  <%= @a.chomp(", ") %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
